@page "/newuser"
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer

<PageTitle>New User</PageTitle>
<h3>Register new user</h3>

@if (!_viewModel.ValidFormSubmited)
{
    <EditForm Model="@_viewModel.NewUser" OnValidSubmit="_viewModel.HandleValidSubmit">
        <DataAnnotationsValidator />
        <div>
            <label>
                Full Name:<br />
                <InputText id="name" @bind-Value="_viewModel.NewUser.Name" />
                <ValidationMessage For="@(() => _viewModel.NewUser.Name)" />
            </label><br />
            <label>
                Email:<br />
                <InputText id="email" @bind-Value="_viewModel.NewUser.Email" />
                <ValidationMessage For="@(() => _viewModel.NewUser.Email)" />
            </label><br />
            <label>
                Street:<br />
                <InputText id="street" @bind-Value="_viewModel.NewUser.AddressStreet" />
                <ValidationMessage For="@(() => _viewModel.NewUser.AddressStreet)" />
            </label>:<br />
            <label>
                City:<br />
                <InputText id="city" @bind-Value="_viewModel.NewUser.AddressCity" />
                <ValidationMessage For="@(() => _viewModel.NewUser.AddressCity)" />
            </label><br />
            <label>
                Zip Code:<br />
                <InputText id="zipcode" @bind-Value="_viewModel.NewUser.AddressZipCode" />
                <ValidationMessage For="@(() => _viewModel.NewUser.AddressZipCode)" />
            </label><br />
            <label>
                Company Name:<br />
                <InputText id="companyname" @bind-Value="_viewModel.NewUser.CompanyName" />
                <ValidationMessage For="@(() => _viewModel.NewUser.CompanyName)" />
            </label><br />
            <label>
                Company Catchphrase:<br />
                <InputText id="companycatchphrase" @bind-Value="_viewModel.NewUser.CompanyCatchPhrase" />
                <ValidationMessage For="@(() => _viewModel.NewUser.CompanyCatchPhrase)" />
            </label><br />
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}
else if (_viewModel.FormSubmitErrorMessage != null)
{
    <p>@_viewModel.FormSubmitErrorMessage</p>
}
else
{
    <p>You submited the following information:</p>
    <ul style="list-style-type:none">
        <li><b>Full Name:</b></li>
        <li>@_viewModel.ValidatedUser.Name</li>
        <li><b>Email:</b></li>
        <li>@_viewModel.ValidatedUser.Email</li>
        <li><b>Street:</b></li>
        <li>@_viewModel.ValidatedUser.Address.Street</li>
        <li><b>City:</b></li>
        <li>@_viewModel.ValidatedUser.Address.City</li>
        <li><b>Zip Code:</b></li>
        <li>@_viewModel.ValidatedUser.Address.ZipCode</li>
        <li><b>Company Name:</b></li>
        <li>@_viewModel.ValidatedUser.Company.Name</li>
        <li><b>Company Catchphrase:</b></li>
        <li>@_viewModel.ValidatedUser.Company.CatchPhrase</li>
    </ul>
    <p>Your user ID is: @_viewModel.ValidatedUser.ID</p>
}

@code {
    private NewUserViewModel _viewModel = new NewUserViewModel();
}
