@page "/newuser"
@using Microsoft.AspNetCore.Components.Forms
@using LabbClassLibrary
@rendermode InteractiveServer

<PageTitle>New User</PageTitle>
<h3>Register new user</h3>

@if (!_validFormSubmited)
{
    <EditForm Model="@_newUser" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div>
            <label>
                Full Name:<br />
                <InputText id="name" @bind-Value="_newUser.Name" />
                <ValidationMessage For="@(() => _newUser.Name)" />
            </label><br />
            <label>
                Email:<br />
                <InputText id="email" @bind-Value="_newUser.Email" />
                <ValidationMessage For="@(() => _newUser.Email)" />
            </label><br />
            <label>
                Street:<br />
                <InputText id="street" @bind-Value="_newUser.AddressStreet" />
                <ValidationMessage For="@(() => _newUser.AddressStreet)" />
            </label>:<br />
            <label>
                City:<br />
                <InputText id="city" @bind-Value="_newUser.AddressCity" />
                <ValidationMessage For="@(() => _newUser.AddressCity)" />
            </label><br />
            <label>
                Zip Code:<br />
                <InputText id="zipcode" @bind-Value="_newUser.AddressZipCode" />
                <ValidationMessage For="@(() => _newUser.AddressZipCode)" />
            </label><br />
            <label>
                Company Name:<br />
                <InputText id="companyname" @bind-Value="_newUser.CompanyName" />
                <ValidationMessage For="@(() => _newUser.CompanyName)" />
            </label><br />
            <label>
                Company Catchphrase:<br />
                <InputText id="companycatchphrase" @bind-Value="_newUser.CompanyCatchPhrase" />
                <ValidationMessage For="@(() => _newUser.CompanyCatchPhrase)" />
            </label><br />
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}
else if (_formSubmitErrorMessage != null)
{
    <p>@_formSubmitErrorMessage</p>
}
else
{
    <p>You submited the following information:</p>
    <ul style="list-style-type:none">
        <li><b>Full Name:</b></li>
        <li>@_viewModel.ValidatedUser.Name</li>
        <li><b>Email:</b></li>
        <li>@_viewModel.ValidatedUser.Email</li>
        <li><b>Street:</b></li>
        <li>@_viewModel.ValidatedUser.Address.Street</li>
        <li><b>City:</b></li>
        <li>@_viewModel.ValidatedUser.Address.City</li>
        <li><b>Zip Code:</b></li>
        <li>@_viewModel.ValidatedUser.Address.ZipCode</li>
        <li><b>Company Name:</b></li>
        <li>@_viewModel.ValidatedUser.Company.Name</li>
        <li><b>Company Catchphrase:</b></li>
        <li>@_viewModel.ValidatedUser.Company.CatchPhrase</li>
    </ul>
    <p>Your user ID is: @_viewModel.ValidatedUser.ID</p>
}

@code {
    private NewUserViewModel _viewModel = new NewUserViewModel();
    private NewUserFormValidator _newUser = new NewUserFormValidator();
    private string? _formSubmitErrorMessage;
    private bool _validFormSubmited = false;

    public void HandleValidSubmit()
    {
        // Då NewUserFormValidator har required på alla properties förstår jag inte riktigt varför jag behöver null-hantering
        // Men visual studio säger till om man inte sätter properties som nullable
        try
        {
            _viewModel.ValidatedUser = _newUser.GetValidatedUser();
        }
        catch (NullReferenceException e)
        {
            _formSubmitErrorMessage = $"Error, {e.Message}, please fill out the form again";
        }
        _validFormSubmited = true;
    }
}
