@page "/users"
@rendermode InteractiveServer
<style>
    tr:hover.user-tr {
        background-color: lightgray;
    }
</style>
<h3>Users</h3>
<p>(click user to see Todos)</p>

@if (_users.Count < 1)
{
    <p><em>Fetching User Information...</em></p>
}
else
{
    @if (_userDataErrorMessage != null)
    {
        <p>Could not load user data (@_userDataErrorMessage)</p>
        <p>Please contact admin, displaying sample data</p>
    }
    @if (_userIndexOftOfRangeMessage != null)
    {
        <p>_userIndexOftOfRangeMessage</p>
    }

    <InputSelect @bind-Value="_userPageUtilities.SearchOption">
        @foreach (var searchOption in Enum.GetValues(typeof(SearchOption)))
        {
            <option value="@searchOption">Search by @searchOption</option>
        }
    </InputSelect>
    <input id="search" @bind-value="_userPageUtilities.SearchTerm" @oninput=OnSearchInput />
    <br />

    <InputSelect @bind-Value="_userPageUtilities.SortOption" @bind-Value:after=Sort>
        @foreach (var sortOption in Enum.GetValues(typeof(SortOption)))
        {
            <option value="@sortOption">Sort by @sortOption</option>
        }
    </InputSelect>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Street</th>
                <th>Zip Code</th>
                <th>Company</th>
                <th>Company Catchphrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _searchedSortedShownUsers)
            {
                <tr class="user-tr" @onclick="() => ShowToDos(user)" style="cursor: pointer;">
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address.City</td>
                    <td>@user.Address.Street</td>
                    <td>@user.Address.ZipCode</td>
                    <td>@user.Company.Name</td>
                    <td>@user.Company.CatchPhrase</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" @onclick=ShowAll>Show All</button>
    <button type="button" @onclick=ShowLess>Show Less</button>
    <br />
    @if (_showToDos)
    {
        <Todos CurrentUser="_currentUser"></Todos>
    }
}

@code {
    private List<User> _users = new List<User>();
    private List<User> _searchedSortedShownUsers = new List<User>();
    private IDataAccess? _dataAccess;
    private UsersPageUtilities _userPageUtilities = new UsersPageUtilities();
    private int _numberOfShownUsers;
    private string? _userDataErrorMessage;
    private string? _userIndexOftOfRangeMessage;
    private bool _showToDos = false;
    private User _currentUser = new User();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        SetUserData();
        ShowLess();
    }
    private void SetUserData()
    {
        try
        {
            _dataAccess = new JSONDataAccess();
            _users = _dataAccess.GetUsers();
            _userDataErrorMessage = null;
        }
        catch (AggregateException e)
        {
            _dataAccess = new SampleDataAccess();
            _users = _dataAccess.GetUsers();
            _userDataErrorMessage = e.Message;

        }
        catch (HttpRequestException e)
        {
            _dataAccess = new SampleDataAccess();
            _users = _dataAccess.GetUsers();
            _userDataErrorMessage = e.Message;
        }
    }
    private void ShowToDos(User user)
    {
        if (user == _currentUser)
        {
            _showToDos = (_showToDos) ? false : true;
        }
        else
        {
            _showToDos = true;
        }
        _currentUser = user;
    }
    private void ShowAll()
    {
        _numberOfShownUsers = (_users != null) ? _users.Count : 0;
        Show();
    }
    public void ShowLess()
    {
        _numberOfShownUsers = 5;
        Show();
    }
    public void Show()
    {
        Search();
        Sort();
        if (_numberOfShownUsers < _searchedSortedShownUsers.Count)
        {
            try
            {
                ShowNumberOfUsers();
                _userIndexOftOfRangeMessage = null;
            }
            catch (ArgumentOutOfRangeException e)
            {
                _userIndexOftOfRangeMessage = e.Message;
            }
        }
    }
    private void OnSearchInput(ChangeEventArgs e)
    {
        _userPageUtilities.SearchTerm = e.Value?.ToString() ?? string.Empty;        
        Show();
    }
    private void Search()
    {
        switch (_userPageUtilities.SearchOption)
        {
            case SearchOption.Name: SearchByName(); break;
            case SearchOption.City: SearchByCity(); break;
        }
    }
    private void Sort()
    {
        switch (_userPageUtilities.SortOption)
        {
            case SortOption.Name: OrderByName(); break;
            case SortOption.ID: OrderById(); break;
        }
    }
    private void ShowNumberOfUsers() => _searchedSortedShownUsers = _searchedSortedShownUsers.FilterUsersByAmount(_numberOfShownUsers);
    private void OrderByName() => _searchedSortedShownUsers = _searchedSortedShownUsers.OrderUsersByName();
    private void OrderById() => _searchedSortedShownUsers = _searchedSortedShownUsers.OrderUsersById();
    private void SearchByName() => _searchedSortedShownUsers = _users.FilterUsersByName(_userPageUtilities.SearchTerm);
    private void SearchByCity() => _searchedSortedShownUsers = _users.FilterUsersByCity(_userPageUtilities.SearchTerm);
}
